
// I'm also styling diaryofagirl section here

.archive {
  // border: 4px solid blue;
  @include desktop {
    padding-bottom: $section-margin;
    padding-top: $top-margin;
  }
}
.archive__content {
  // border: 3px solid red;
  position: relative;
  min-height: 100vh;

  
  @include mobile {

  }
  @include mobile-small {
 
  }
  @include desktop {

  }
}
.archive__figure {
  // border: 3px solid yellow;
  position: absolute;
  
  @include mobile {
    padding: 2px;

  }
  @include mobile-small {
    padding: 1px;
  }
  @include desktop {
    padding: 2px;

  }
  @include desktop-mid {
    padding: 4px;
  }
  @include desktop-large {
    padding: 5px;
  }
}

.archive__img {
  width: 100%;
  height: auto;
}




