
.footer {
  // display: none;
  border: 1px solid $grey;
  background-color: $grey;

  @include mobile {
    text-align: center;
    color: $dark;
    @include font($font-light);
  }
  @include desktop {
    
  }
  .container {
    @include desktop {
      position: relative;
      right: calc(#{$header-desktop-width} /2);
      display: flex;
      justify-content: space-between;
      padding-top: 3em;
    }
  }
 
}
.footer__content {
  // border: 3px solid blue;
  @include desktop {
    margin-left :$header-desktop-width;

  }
}


.footer__contact-ul {
  // border: 5px solid red;
  margin: 0;
  padding: 0;
  @include mobile {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
.footer__contact-li {
  // border: 1px solid black;
  
  @include mobile {
    padding: .3em 0;
    font-size: 1.5rem;
  }
  @include desktop {
    padding: .3em 0;
    font-size: 1.5rem;
  }
}

.footer__icons-ul-primary {
  // border: 2px solid blue;
  @include mobile {
    // margin: 1.5em;
  }
  @include desktop {
    display: flex;
  }
  * {
    @include mobile {
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }
}
.footer__icons-li-row {
  // border: 2px solid green;
  @include mobile {
    font-size: 2.5rem;
    
    // display: flex;
    // align-items: center;
  }
  @include desktop {
    font-size: 2.5rem;
  }
}
.footer__icons-ul-nested {
  // border: 2px solid red;
  @include mobile {
    display: flex;
    justify-content: center;
  }
  @include desktop {
    display: flex;
    justify-content: center;
  }
}
.footer__icons-li-column {
  // border: 3px solid green;
  @include mobile {

  }
}
.footer__icons-link {
  // border: 2px solid yellow;
  @include mobile {
    display: block;
    padding: 0em .4em .1em .4em;
  }
  @include desktop {
    display: block;
    padding: 0em .4em .1em .4em;
  }
}
.i--vogue {
  @include mobile {
    font-size: 2rem;
  }
  @include desktop {
    font-size: 2.2rem;
    margin-bottom: .1rem;
  }
}

.footer__copy {
  font-weight: $font-light;
  padding: 1em 0 2em 0;
  font-size: 1.5rem;
  text-align: center;
  @include desktop {
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    right: calc(#{$header-desktop-width} /2);
  }
}

