
$home-image-margins: 1rem;

.home {
  border: 3px solid yellow;
  @include mobile {
    height: 100%;
    margin-top: - $header-mobile-height;
    padding-top: $header-mobile-height;
  }
  @include desktop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    transition: left $home-animation-duration;
  }
}
.home__image-container {
  border: 5px solid red;
  @include mobile {
    width: 100%;
    height: 100%;
  }
  @include desktop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all $home-animation-duration;
  }
}
.home__image {
  border: 5px solid blue;
  background-image: url(../../img/header/home/desktop/1280/01.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  @include mobile {
    
  }
  @include desktop {


  }
  
}

.home--clicked {
  .home {
    @include desktop {
      left: $header-desktop-width;
    }
  }
  .home__image-container {
    @include desktop {
      top: $home-image-margins;
      right: $home-image-margins;
      bottom: $home-image-margins;
    }
  }
}