
$home-image-margins: 2.5rem;

.home {
  // border: 3px solid yellow;
  @include mobile {
    // height: calc(100vh - 60px);
    // height: 100%;
    // margin-top: - $header-mobile-height;
    // padding-top: $header-mobile-height;
    position: relative;
    
  }
  @include desktop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    // doesn't work don't know why...
    transform: translateZ(0);
    transition: transform $home-animation-duration;
  }
}
.home__container {
  // border: 5px solid gold;
  overflow-x: hidden;
  @include mobile {
    width: 100%;
    height: 100%;
  }
  @include desktop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // doesn't work... don't know why..
    transform: translateZ(0);
    transition: all $home-animation-duration;
  }
}
.home__navigation {
  // border: 2px solid yellow;
  position: absolute;
  top: 0;
  bottom: 0;
  // z-index: 3;
}
.home__left {
  left: 0;
  right: 50%;
}
.home__right {
  left: 50%;
  right: 0;
}
.home__image-container {
  // border: 5px solid red;
  display: flex;
  align-items: center;
  z-index: -1;
  // transition: transform $slide-animation-duration;
  transition-property: transform;
  @include mobile {
    width: 100%;
    height: 100%;
    position: relative;
    transition-duration: $mobile-slide-animation-duration;
    // z-index: -1;
  }
  @include desktop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-duration: $desktop-slide-animation-duration;
    transition-timing-function: ease-in-out;
    // doesn't work... don't know why..
    // transform: translateZ(0);
  }
  @include desktop-large {
    transition-duration: $desktop-big-slide-animation-duration;
  }
}
.home__image {
  // border: 2px solid blue;

  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  @include mobile {
    // min-width: 100%;
  }
  @include desktop {
    // position: absolute;
    // display: none;
  }

}
.home__image:nth-of-type(1) {
  
  @include mobile {
    background-image: url(../../img/home/tall/1280/home01.jpg);
  }
  @include desktop {
    background-image: url(../../img/home/wide/1920/home01.jpg);
    // display: block;
  }
}
.home__image:nth-of-type(8) {
  
  @include mobile {
    background-image: url(../../img/home/tall/1280/home01.jpg);
  }
  @include desktop {
    background-image: url(../../img/home/wide/1920/home01.jpg);
    // display: block;
  }
}
.home__image:nth-of-type(2) {
  @include mobile {
    background-image: url(../../img/home/tall/1280/home02.jpg);
  }
  @include desktop {
    background-image: url(../../img/home/wide/1920/home02.jpg);
  }
}
.home__image:nth-of-type(3) {
  @include mobile {
    background-image: url(../../img/home/tall/1280/home03.jpg);
  }
  @include desktop {
    background-image: url(../../img/home/wide/1920/home03.jpg);
  }
}
.home__image:nth-of-type(4) {
  @include mobile {
    background-image: url(../../img/home/tall/1280/home04.jpg);
  }
  @include desktop {
    background-image: url(../../img/home/wide/1920/home04.jpg);
  }
}
.home__image:nth-of-type(5) {
  @include mobile {
    background-image: url(../../img/home/tall/1280/home05.jpg);
  }
  @include desktop {
    background-image: url(../../img/home/wide/1920/home05.jpg);
  }
}
.home__image:nth-of-type(6) {
  @include mobile {
    background-image: url(../../img/home/tall/1280/home06.jpg);
  }
  @include desktop {
    background-image: url(../../img/home/wide/1920/home06.jpg);
  }
}
.home__image:nth-of-type(7) {
  @include mobile {
    background-image: url(../../img/home/tall/1280/home07.jpg);
  }
  @include desktop {
    background-image: url(../../img/home/wide/1920/home07.jpg);
  }
}

.home--clicked {
  .home {
    @include desktop {
      // left: $header-desktop-width;
      transform: translateZ(0);
    }
  }
  .home__container {
    @include desktop {
      top: $home-image-margins;
      right: $home-image-margins;
      bottom: $home-image-margins;
      // left: $home-image-margins;
      left: 1rem;
      transform: translateZ(0);
    }
  }
}

.home--immediate-transition {
  .home__image-container {
    transition-property: none;
  } 
}