

.nav {
  // border: 5px solid red;
  color: $dark;
  left: 0;
  @include mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    display: flex;
    justify-content: flex-end;
    transition: background-color 800ms;
    // hidden by default
    // transform: translateX(100%);
  }
  @include mobile-small {
    //hidden by default
    justify-content: flex-start;
    transform: translateX(-100%);
  }
  @include desktop {
    position: absolute;
    top: $header-desktop-height;
    width: $header-desktop-width;
    transform: translateX(-100%);
    transition: transform $home-animation-duration;
  }
}
.nav__menu-icon {
  // border: 3px solid yellow;
  cursor: pointer;
  @include mobile {
    position: absolute;
    top: 0;
    right: 0;
    height: $header-mobile-height;
    width: $header-mobile-height;
    font-size: 3.3rem;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  @include mobile-small {
    font-size: 2.7rem;
  }
  @include desktop {
    display: none;
  }

}

.nav__card {
  @include mobile {
    background-color: $light;
    width: 75%;
    min-width: 400px;
    height: 100%;
    overflow-y: auto;
  }
  @include mobile-small {
    width: 82%;
    min-width: 250px;
    transform: translateX(-100%);
    transition: transform $menu-animation-duration ease-in-out;
    border-right: 1px solid $menu-lines;
  }
  
}
.nav__main-ul {
  // background-color: red;
  @include mobile {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: $header-mobile-height;
  }
  @include mobile-small {
    margin-right: 0;
  }
  @include desktop {
    
  }
  
}
.nav__main-li {
  // background-color: green;
  border-bottom: 1px solid yellow;
  position: relative;
  cursor: pointer;
  
  @include mobile {
    font-weight: $font-normal;
    padding: 1em 0 1em 1.8em;
    border-bottom: 1px solid $menu-lines;
    font-size: 2rem;
    
  }
  @include desktop {
    padding: .5em 0;
    padding-left: $header-desktop-left-margin;
    font-weight: $font-light;
    font-size: 1.8rem;
    
  }
  
}
.nav__expand-icon {
  position: absolute;
  
  // top: 50%;
  // transform: translateY(-50%);
  transition: transform 100ms;
  @include mobile {
    font-size: 0.65em;
    left: 1em;
    top: 2.15em;
  }
  @include desktop {
    left: .5em;
    top: 2em;
    font-size: .5em;
  }
  
}
.nav__secondary-ul {
  // when closed
    height: 0;
    overflow: hidden;
    transition: height 200ms;
  @include mobile {
    //  display: none;
    background: yellow;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
 
}
.nav__secondary-li {
  background: red;
  @include mobile {
    padding: .3em 0 .3em 1em;
    
  }
  @include desktop {
    padding: .2em 0 .2em .5em;
    font-size: 1.7rem;
  }
  
}
.nav__secondary-li:first-of-type {
  @include mobile {
    padding-top: .5em;
  }
  @include desktop {
    padding-top: .5em;
  }
}
.nav__secondary-li:last-of-type {
  @include desktop {
    padding-bottom: 1em;
  }
}



// Open main navigation on mobile
.nav-mobile-open {
  .nav {
    @include mobile {
      background-color: rgba(255, 255, 255, 0.9);
    }
    @include mobile-small {
      transform: translateX(0);
    }
  }
  .nav__card {
    @include mobile-small {
      transform: translateX(0);
    }
    
  }
  
}

// When You open the secondary Navigation
.nav__main-li--open {
  .nav__secondary-ul--artworks {
    // Hard coded! must be changed if items are added/removed
    height: 242px;
  }
  .nav__secondary-ul--magazines {
    // Hard coded! must be changed if items are added/removed
    height: 273px;
  }
  .nav__expand-icon {
    transform: rotate(90deg);
    @include mobile {

    }
  }
}

.home--clicked {
  .nav {
    @include desktop {
      transform: translateX(0);
    }
  }
}