*, *::before, *::after
  box-sizing: border-box

*
  @include mobile 
    user-select: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

html
  font-size: 10px
  height: 100%

body 
  font-size: 16px
  height: 100%
  // overflow: hidden


main
  
  // border: 3px solid red
 
  z-index: -1
  @include mobile
    
  @include desktop
    // position: absolute
    // top: 0
    // right: 0
    // left: 0
    margin-left: $header-desktop-width;
    min-height: 100%
    transform: translateZ(0);
    transition: left $home-animation-duration, transform $home-animation-duration
    

.home--clicked
  main
    @include desktop
      
    
nav
  *
    user-select: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

header
  *
    user-select: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

// Container
.container 
  // border: 3px solid red
  @include mobile
    width: 90%
    margin: 0 auto
  @include desktop
    width: 90%
    margin: 0 auto;
    max-width: 800px;
    // margin-left: 10%;

.textContainer
  // border: 5px solid red
  @include desktop
    max-width: 800px
.imageContainer
  // border: 5px solid yellow
  @include desktop
    width: 90%
    margin: 0 auto


figure
  // border: 3px solid red
  width: 100%
  margin: 0
  padding: 0
img
  // border: 3px solid blue
  display: block
  max-width: 100%
  max-height: 100%
  height: auto
  margin: 0 auto
// Unstyled list

// clearfix

