*, *::before, *::after
  box-sizing: border-box

html
  font-size: 10px
  height: 100%

body 
  font-size: 16px
  height: 100%
  transform: translateZ(0)
  backface-visibility: hidden
  perspective: 1000


main
  height: 100%

nav
  *
    user-select: none

header
  *
    user-select: none

// Container
.container 
  @include mobile
    width: 90%
    margin: 0 auto



// Unstyled list

// clearfix

