$lightbox-margins: 5rem;
$lightbox-mobile-margins: 5rem;

.lightbox {
  border: 3px solid red;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // transform: scale(0);
  transition: transform 1s;
  @include mobile {

  }
  @include desktop {
    
  }
}
.lightbox__content {
  // border: 3px solid blue;
  position: absolute;
  top: $lightbox-margins;
  bottom: $lightbox-margins;
  right: $lightbox-margins;
  left: $lightbox-margins;
  @include mobile-small {
    // right: calc(#{$lightbox-margins} / 2);
    // left: calc(#{$lightbox-margins} / 2);
    right: 0;
    left: 0;
  }
  @include desktop {

  }
}
.lightbox__slides {
  border: 3px solid green;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop {

  }
}
.lightbox__figure {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  @include desktop {
  }
  
}
.lightbox__image {
  border: 2px solid red;
  max-width: 100%;
  max-height: 100%;
  min-height: 10rem;
  height: auto;
  width: auto;
  @include desktop {

    
  }
}
.lightbox__figcaption {
  color: #f4f4f4;
  border: 2px solid green;
  height: auto;
  width: auto;
  text-align: center;
  // position: absolute;
  @include desktop {
    position: absolute;
  }
}
.lightbox__index-caption {
  position: absolute;
  top: .3rem;
  left: 1rem;
  color: #f4f4f4;
}

// Now you can click on the image to change it to previous/next
.lightbox__previous-space {
  border: 2px solid yellow;
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  z-index: 5;
  @include desktop {

  }
}
.lightbox__next-space {
  border: 2px solid yellow;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 5;
  @include desktop {

  }
}


.lightbox__btn {
  // border: 1px solid red;
  position: absolute;
  
  height: $lightbox-margins;
  display: flex;
  // justify-content: center;
  align-items: center;
  width: $lightbox-margins;
  font-size: 3rem;
  @include mobile-small {
    width: calc(#{$lightbox-margins} /2);
    font-size: 2rem;
  }
  @include desktop {
    
  }
  .icon__line {
    background-color: #f4f4f4;
  }
}
.lightbox__close-button {
  border: 2px solid red;
  top: 0;
  right: 0;
  @include mobile {
    font-size: 3rem;
    width: $lightbox-margins;
  }
  @include desktop {
    font-size: 3.5rem;
  }
}
.lightbox__previous-button {
  border: 2px solid red;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: calc(#{$lightbox-margins} * 1.5);
  @include mobile {
    top: auto;
    bottom: 0;
    transform: none;
    width: 75px;
    height: $lightbox-mobile-margins;
  }
}
.lightbox__next-button {
  border: 2px solid red;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  height: calc(#{$lightbox-margins} * 1.5);
  @include mobile {
    top: auto;
    bottom: 0;
    transform: none;
    width: 75px;
    height: $lightbox-mobile-margins;
  }
}
.lightbox__mobile-black-line {
  border: 2px solid yellow;
  @include desktop {
    display: none;
  }
  @include mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $lightbox-mobile-margins;
    background: #000;
    z-index: -1;
  }
}

.lightbox-open {
  .lightbox {
    transform: scale(1);
  }
}