// animations
$home-animation-duration: 800ms;

$menu-animation-duration: 350ms;


$mobile-slide-animation-duration: 400ms;
$desktop-slide-animation-duration: 600ms;
$desktop-big-slide-animation-duration: 800ms;



// header
$header-mobile-height: 6rem;

$header-desktop-height: 14rem;
$header-desktop-width: 20rem;
$header-desktop-left-margin: 2.5rem;

$top-margin: 3rem;
$side-margins: 5rem;

// General
$section-margin: 7rem;

// Grid
$grid-mobile-small-margin: 2px;
$grid-mobile-margin: 3px;
$grid-desktop-margin: 4px;
$grid-desktop-mid-margin: 5px;
$grid-desktop-large-margin: 5px;

// Lightbox
$lightbox-text-color: #777;

